/* about us section */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    flex-direction: column;
    background-color: rgb(6, 22, 69);
    display: grid;
    height: 100vh;
    place-items: center;
    align-items: flex-start;

}
img {
    margin-right: 40%;
}

.logo-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* background-color: rgba(0, 0, 0, 0.064); */
    /* border-radius: 25% 25%; */
    height: 300px;
}

p {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px;
    border-radius: 30px;
    background-image: -moz-linear-gradient();
}

h1 {
    color: #d2d654;
    font-family: 'Poppins', sans-serif;
    font-size: 57px;
    font-weight: 700;
    line-height: 2;
    text-decoration: underline;
}
h1{
    padding: 12px;
    /* margin-top: 30%; */
    border-radius: 4px;
    resize: vertical;
    margin-top: auto;
    font-family: 'KarmaticArcade', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
}
h1 {
    box-shadow: inset 0 0 0 0 0 #3badd2;
    color: #54b3d6;
    padding: 0 .45rem;
    margin: 0 .45rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;

}

h1:hover {
    color: rgb(255, 255, 255);
    box-shadow: inset 3000px 0 0 0 #3badd2;
    ;
}



.container {
    flex-direction: column;
    align-content: space-between;
}

h2 {
    font-family:  'Lucida Grande', 'Lucida Sans Unicode';
    color: #fff;
    text-shadow: 10px;
    font-size: 25px;
    align-items: center;
    
}

button {
    display: inline-block;
    color: rgb(220, 209, 121);
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding: 16px 24px;
    margin-left: 20%;
    border: 2px solid #fff;
    border-radius: 8px;
    z-index: 1;
    transition: 0.5s;
    background: transparent;
}

button::before {
    content: "";
    position: absolute;
    background: rgb(43, 44, 45);
    height: 150;
    width: 200px;
    border-radius: 50%;
    z-index: -1;
}

button:hover {
    color: rgb(0, 0, 0);
}

button::before {
    top: 100%;
    left: 100%;
    transition: 0.7s;
}

button:hover::before {
    top: -30px;
    left: -30px;
}

button:active::before {
    color: aqua;
    transition: 0s;
}



.box-main {
    font: caption;
    height: 100px;
    width: 100px;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    margin-left: 37%;

}
.box-main {
    min-height: 90vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/assets/images/schedule.jpg);
    background-size: cover;
    background-position: center;
}

.middle {
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 20px;
}
.box1,
.box2,
.box3 {
    margin: 5%;
    padding: 5%;
    border-radius: 8px;
    overflow: hidden;
    resize: both;

}

.box1 {
    background-color: rgba(135, 206, 250, 0.827);
}

.box2 {

    background-color: cornflowerblue;
}

.box3 {

    background-color: rgb(26, 72, 157);
}



.section3 {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    grid-area: auto;

}
.section3 {
    min-height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(BGnew.jpg);
    box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px inset, rgb(0 0 0 / 30%) 0px 18px 36px -18px inset;
}

.bottom:hover> :not(:hover) {
    opacity: .4;
}
.bottom{
    display: flex;
}

img{
    animation-play-state: running 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@font-face {
    font-family: 'KarmaticArcade';
    src: url("ka1.ttf");
}

@keyframes img {
    0% {
        transform: rotateX(0);
    }

    100% {
        transform: rotateX(-180deg);
    }
}

@media screen and (max-width: 600px) {
    .background {
        width: 100%;
        margin-top: 10;
    }
}


/*  */
/* @media (max-width: 991.98px) {
    .section{
        min-height: 100vh;
        background: linear-gradient(rgba(79, 12, 12, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/images/schedule.jpg);
        background-size: cover;
        background-position: center;
    }
} */





